@font-face {
font-family: 'Starwing';
src: url('fonts/Star-Fox-Starwing.ttf') format('truetype');
}
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

html{
scroll-behavior:smooth;
}

body{
    font-family: "Starwing";
    font-optical-sizing: auto;
}

.logo-main{
width:400px;
margin-bottom:10px;
}

.team-img{
width:500px;
margin-top:10px;
margin-bottom:20px;
}

.logo-menu{
width:120px;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
}

.header{
    background-image: url(images/fondo_espacio.png);
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    min-height: 70vh;
    display: flex;
    align-items: center;
    position: relative;
}


.menu{
position: fixed;
top: 0;
left: 0;
right: 0;
display: flex;
align-items: center;
justify-content: space-between;
background-color: rgba(0,0,0,0.7);
padding: 15px 40px;
z-index: 1000;
}

.logo{
    color: antiquewhite;
    font-size: 30px;
    font-weight: 800;
    text-transform: uppercase;
}

#menu{
    display: none;
}

.menu-icono{
    width: 25px;
}

.menu .navegacion ul li{
    position: relative;
    float: left;
}
.menu .navegacion ul li a{
    font-size: 20px;    
    padding: 20px;
    color: #fff;
    display: block;
    font-weight: 400;
    text-transform: uppercase;
}

.header-txt{
display:flex;
flex-direction:column;
align-items:center;
justify-content:center;
text-align:center;
margin-top:120px;
}

.header-txt h1{
    color: antiquewhite;
    text-transform: uppercase;
    font-size: 100px;
    margin-bottom: 20px;
}

.header-txt p{
    color: antiquewhite;
    font-size: 20px;
    padding: 0 150px;
    margin-bottom: 45px;
}

.general{
    text-align: center;
    padding: 50px 0;
}

h2{
    font-size: 70px;
    text-transform: uppercase;
    color: #1B293A;
}

.container h2{
    text-align: center;
    padding: 50px;
}

.general-content{
    background-image: url(images/sectorX.png);
    justify-content: space-between;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    margin-top: 50px;
    display: flex;
}

.general-2{
    background-image: url(images/r2.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    padding: 170px 55px;
}

.txt h3{
    color: aliceblue;
    text-transform: uppercase;
    font-size: 20px;
    margin-bottom: 10px;
}

.txt p{
    color: aliceblue;
    font-size: 20px;  
}

.characters{
background-image:url(images/corneria.png);
background-position:center;
background-size:cover;
background-repeat:no-repeat;
padding:180px 0;
margin-top: 170px;
}

.character{
display:flex;
align-items:center;
justify-content:center;
gap:60px;
margin:100px 0;
flex-wrap:wrap;
}

.reverse{
flex-direction:row-reverse;
}

.mugshot{
width:220px;
transition:0.3s;
}

.mugshot:hover{
transform:scale(1.1);
filter:drop-shadow(0 0 10px #00eaff)
       drop-shadow(0 0 25px #00eaff);
}

.character-info{
max-width:500px;
color:white;
font-size:18px;
}

.games{
background-image:url(images/fortuna_dune.png);
background-position:center;
background-size:cover;
background-repeat:no-repeat;
padding:160px 0;
margin-top:170px;
}

.games-list{
display:flex;
flex-direction:column;
align-items:center;
gap:120px;
margin-top:80px;
}

.game{
display:flex;
flex-direction:column;
align-items:center;
text-align:center;
max-width:500px;
}

.game-box{
width:230px;
margin-bottom:20px;
transition:0.3s;
}

.game-box:hover{
transform:scale(1.05);
}

.game h3{
font-size:30px;
margin-bottom:15px;
}

.game p{
font-size:18px;
line-height:1.6;
max-width:500px;
}

.info-2{
    padding: 250px 0;
    background-image: url(images/bg3.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.videos{
display:flex;
justify-content:center;
gap:40px;
margin-top:40px;
flex-wrap:wrap;
}